#search-form{
    float: right;
    margin: 50px;
    background-color: coral;
    width : 250px;
  
    
     
}

#search-input{
    box-shadow: 30px coral;
    margin-left: 35px;
  
    
    
   
}

body{
    background-color: gray;
    background: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:2000px;
  
 
}
#subcontainer{
    background-color: blueviolet;
}

.para{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
.btnAdd{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 20px;
    background-color: coral;
    justify-content: center;
  
    
    
}

.img{
    float: left;
    width: 200px;
}
.space{
    justify-content: center;
}

.h2{
    display: flex;
    color:coral;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 30px;
  

}
.Baby-buttons{
    justify-content: center;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 20px;
    background-color: coral;
   
};
